:root {
  --main-font-color: #c48f56;
  --card-width-mobile: 100px;
  --card-height-mobile: 250px;
}

/*Mobile Design*/
@media only screen and ((min-height: 738px) and (max-width:700px)) {

  .previous_btn,
  .next_btn {
    top: -40px;
  }

  .slide_buttons {
    bottom: 33px !important;
  }
}

@media only screen and ((max-height: 737px) and (max-width:700px)) {
  .slider {
    height: 100vh !important;
  }

  .previous_btn,
  .next_btn {
    top: 10px;
  }

  .slide_buttons {
    bottom: 33px !important;
  }

  .slide_viewer {
    height: 100vh !important;
  }

  .directional_nav {
    bottom: 72px !important;
  }
}

@media only screen and (max-width: 737px) {
  * {
    box-sizing: border-box;
  }

  .slide video {
    position: relative;
    height: 100vh !important;
    width: auto;
  }

  .w-100 {
    width: unset !important;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
  }

  .show-list {
    left: 34%;
  }

  .nav .logo {
    padding: 0;
    margin-left: 40px;
  }

  .img-c {
    width: 50%;
    height: 33vh;
  }

  .our-services .container-services {
    flex-direction: column;
  }

  /* .our-services {
    height: 110vh !important;
  } */

  .our-services .container-services .heading-services .service-picker {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
  }

  .our-services .container-services .heading-services .service-picker button {
    padding: 10px;
    font-size: 15px;
  }

  .viewer-services .show-service {
    padding: 5px;
    display: flex !important;
    flex-direction: row;
  }

  .viewer-services .service .container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .viewer-services .service .container p {
    font-size: 15px;
    color: #727272;
  }

  .viewer-services h3 {
    margin: 0;
    font-size: 22px;
  }

  .service img {
    width: 200px;
  }

  section.order {
    flex-direction: column;
  }

  section.people-opinion h2 {
    font-size: calc(var(--font-size-heading-mobile) - 4px);
  }

  .nav {
    height: 100px;
  }

  .nav .logo img {
    width: 200px;
  }

  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }

  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }

  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }

  .slide_viewer,
  .slide_group {
    height: 86vh;
  }

  .directional_nav {
    bottom: 44px;
  }

  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }

  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: column;
  }

  .menu .container .qouta {
    margin: 5px;
    min-width: 185px;
    margin-right: 5px;
    position: relative;
    top: -8px;
    background: linear-gradient(45deg, #e7b47f 15%, #c48f56 65%) !important;
    padding: 5px;
    text-align: center;
  }

  .menu .container a,
  .menu .container div {
    font-size: 16px;
  }

  .menu .container .qouta a {
    font-size: 15px;
    color: rgb(255 255 255) !important;
    text-decoration: none;
  }

  .menu-close {
    margin: 23px 0px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .slide .column .row {
    margin-top: 40px;
  }

  .slide .column {
    flex-direction: column-reverse;
  }

  .slide .column:nth-child(1) {
    align-items: center;
  }

  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }

  .slide .column .row .title {
    font-size: 35px;
  }

  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
  }

  .slide .column .row .link {
    padding-left: 55px;
  }

  .slide .column .row .link a {
    font-size: 15px;
  }

  .our-services .container-services {
    margin: 0;
  }

  .our-services {
    padding: 5px;
    height: 160vh;
  }

  .our-services .container-services .heading-services .title-services {
    font-size: 50px;
    width: 300px;
  }

  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }

  .content-services {
    padding: 12px !important;
    font-size: 16px !important;
  }

  footer .container-footer .column {
    flex-basis: 100%;
  }

  section.people-opinion .people .slide-opinion::before,
  section.people-opinion .people .slide-opinion::after {
    display: none;
  }

  section.order .column .card {
    width: 130px;
  }

  section.order .column a {
    align-self: flex-start;
    width: 175px;
    text-align: center;
    padding: 10px 20px;
    font-size: var(--font-size-content-mobile);
  }

  .nav {
    height: 100px;
  }

  .nav .logo img {
    width: 200px;
  }

  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }

  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }

  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }

  .slide_viewer,
  .slide_group {
    height: 86vh;
  }

  .directional_nav {
    bottom: 44px;
  }

  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }

  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: block;
  }

  .menu-close {
    margin: 23px 20px;
    position: absolute;
    right: 0;
  }

  .slide .column .row {
    margin-top: 40px;
  }

  .slide .column {
    flex-direction: column-reverse;
  }

  .slide .column:nth-child(1) {
    align-items: center;
  }

  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }

  .slide .column .row .title {
    font-size: 35px;
  }

  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
  }

  .slide .column .row .link {
    padding-left: 55px;
  }

  .slide .column .row .link a {
    font-size: 15px;
  }

  .our-services .container-services {
    margin: 0;
  }

  .our-services {
    padding: 0px;
  }

  .our-services .container-services .heading-services .title-services {
    font-size: 50px;
    width: 300px;
  }

  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }

  .content-services {
    padding: 12px !important;
    font-size: 16px !important;
  }

  .nav {
    height: 100px;
  }

  .nav .logo img {
    width: 200px;
  }

  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }

  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }

  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }

  .slide_viewer,
  .slide_group {
    height: 86vh;
  }

  .directional_nav {
    bottom: 44px;
  }

  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }

  .menu-open i {
    color: var(--main-font-color);
    font-size: 35px;
    -webkit-text-stroke: 1px;
  }

  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: column;
  }

  .menu-close {
    margin: 23px 20px;
    position: relative;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .menu-close i {
    color: var(--main-font-color);
    font-size: 35px;
  }

  .slide .column .row {
    margin-top: 40px;
  }

  .slide .column {
    flex-direction: column-reverse;
  }

  .slide .column:nth-child(1) {
    align-items: center;
  }

  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }

  .slide .column .row .title {
    font-size: var(--font-size-heading-mobile);
  }

  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
    font-size: var(--font-size-content-mobile);
  }

  .slide .column .row .link {
    padding-left: 55px;
  }

  .slide .column .row .link a {
    font-size: 15px;
  }

  .our-services .container-services {
    margin: 0;
    margin-top: 50px;
  }

  .our-services {
    padding-top: 50px;
  }

  .our-services .container-services .heading-services .title-services {
    font-size: var(--font-size-heading-mobile);
    width: 300px;
  }

  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }

  .our-services .container-services .heading-services {
    padding: 0 !important;
    margin-left: 20px;
  }

  .content-services {
    padding: 12px !important;
    font-size: var(--font-size-content-mobile) !important;
  }

  section.some-works h2 {
    font-size: var(--font-size-heading-mobile);
  }

  footer .container-footer {
    flex-basis: 100%;
    padding: 25px;
  }

  section.order .column h2 {
    font-size: var(--font-size-heading-mobile);
  }

  section.order .column h3 {
    font-size: var(--font-size-content-mobile);
    margin: 0;
  }

  /*Services Page*/

  header {
    height: 100vh;
    margin: 0;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
    align-content: center;
  }

  header .column-1 {
    padding: 0;
    flex-basis: unset;
    margin: 25px;
  }

  header .column-2 {
    flex-basis: unset;
    margin: 0;
  }

  header .column img {
    width: 90% !important;
  }

  header .column .container .title {
    font-size: 35px;
  }

  header .column .container .content {
    font-size: 15px;
  }

  header .column .button {
    margin: 20px 0 0 0;
  }

  header .column .button a {
    font-size: 16px;
    padding: 10px 15px;
  }

  .section.service-page .container .title,
  .section.service-page .container .title-min {
    font-size: 35px;
  }

  .section.service-page .container .content {
    font-size: 1rem;
    padding: 20px;
  }

  .section.service-page {
    height: 90vh;
  }

  .our-works-title h2 {
    font-size: 35px;
  }

  body.qouta {
    overflow: hidden;
    display: block;
    background-color: #fff;
  }

  body.qouta .main {
    box-shadow: none;
    width: 100%;
  }

  body.qouta .main .container .sidebar {
    display: none;
  }

  body.qouta .main .container .sign {
    width: 100%;
  }

  .main .container .sign form .viewer .step .row:nth-child(2) .column .field input {
    width: 150px;
  }

  .main .container .sign form .buttons {
    width: 90%;
  }

  .main .container .sign form .viewer .step.active {
    padding-top: 65px;
  }

  .main .container .sign form .viewer .step .row .card label img {
    height: 50px;
  }

  .main .container .sign form .viewer .step .row .card label .content {
    width: 65px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) {
    align-content: space-between;
    max-height: 170px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) .card {
    margin: 0;
    height: 75px;
  }

  .main .container .sign form .buttons {
    top: 80px;
  }

  .main .container .sign form .viewer .step .row:nth-child(1) h2 {
    font-size: 23px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) {
    padding: 0;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) {
    padding: 5px;
    padding-top: 10px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row {
    flex-direction: column;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row .container input[type="checkbox"] {
    width: 11px;
    height: 11px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row .container {
    font-size: 13px !important;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row .container label {
    position: absolute;
    left: 20px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row .container label:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 17px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row .container label:nth-child(4) {
    position: absolute;
    left: 20px;
    top: 35px;
  }

  .main .container .sign form .viewer .step .row .column {
    height: 110px;
  }

  .main .container .sign form .viewer .step:nth-child(1) .row .column {
    height: 230px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10px;
  }

  .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content {
    width: 97px;
    height: 140px;
  }

  .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content img {
    height: 70px;
  }

  .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content p {
    font-size: 11px;
  }

  .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content,
  .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content {
    max-width: 97px;
  }

  .main .container .sign form .viewer .step:nth-child(4) .row:nth-child(2) span {
    font-size: 12px;
  }

  .main .container .sign form .viewer .step .row .number-input {
    transform: scale(0.5);
  }

  .main .container .sign form .viewer .step:nth-child(5) .row:nth-child(2) {
    flex-direction: column;
  }

  .main .container .sign form .viewer .step:nth-child(4) .row:nth-child(2) {
    font-size: 12px;
    text-align: center;
    flex-direction: column;
  }

  .main .container .sign form .viewer .step:nth-child(5) .row:nth-child(3) {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .main .container .sign form .viewer .step:nth-child(5) .row:nth-child(2) p {
    text-align: center;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row:nth-child(1) {
    width: 100px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column .row:nth-child(1) .number-input {
    position: relative;
    top: -16px;
    left: -12px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column textarea {
    width: 112px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row .column p {
    font-size: 12px;
  }

  .main .container .sign form .viewer .step:nth-child(6) .row:nth-child(1) p {
    text-align: center;
    padding: 0 15px;
  }

  .our-services .container-services .cards-services .card {
    width: 110px;
    height: 150px;
  }

  .our-services .container-services .cards-services .card a .head-card {
    width: 110px;
    height: 150px;
  }

  .our-services .container-services .cards-services .card a .head-card img {
    width: 100px;
  }

  .our-services .container-services .cards-services .card a .content-card .title {
    font-size: 15px;
  }

  .our-services .container-services .cards-services .card a .content-card .subtitle {
    font-size: 13px;
  }

  .our-services .container-services .cards-services {
    height: 400px;
  }

  section.order .column .card img {
    height: 85px !important;
    width: auto;
  }

  section.order .column .card p {
    font-size: 15px !important;
  }

  section.people-opinion .people .slide-opinion {
    padding: 62px 0px 0px 12px;
    max-width: 301px;
    height: 450px;
  }

  .contactus-section .container .photo img {
    height: 220px;
  }

  .contactus-section .container form {
    height: 390px;
  }

  header.about-page .mask .container h1,
  header.contact-page .mask .container h1 {
    font-size: 50px;
  }

  .contactus-section h1 {
    font-size: 30px;
  }

  .our-services .container-services .cards-services .card-service a .head-card {
    height: 120px;
    width: 92px;
  }

  .our-services .container-services .cards-services .card-service a .head-card img {
    top: 15%;
    left: 11%;
    width: 85px;
    object-fit: contain;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view {
    flex-direction: column-reverse;
    margin: 30px;
    margin-top: 30px;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .text {
    flex-basis: unset;
    max-width: 500px;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .title-1 {
    animation-timing-function: ease-in-out;
    font-size: var(--font-size-heading-mobile);
    width: 500px;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .title-2 {
    font-size: var(--font-size-heading-mobile);
    color: var(--main-font-color);
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .content {
    opacity: 0;
    font-size: var(--font-size-content-mobile);
    padding-top: 20px;
  }
  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view a {
    width: 150px;
    padding: 8px 0px;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .img {
    flex-basis: unset;
  }

  #carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .img img {
    height: 250px;
    top: 0px;
    left: 20px;
  }

  .our-services .container-services .cards-services .card-service a .content-card .title {
    font-size: 16px;
  }

  .our-services .container-services .cards-services .card-service a .content-card .subtitle {
    font-size: 12px;
  }

  .gallery {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .gallery a {
    float: left;
    overflow: hidden;
    max-width: unset;
    width: 100%;
  }

  header.contact-page img {
    width: 100%;
  }

  header.contact-page {
    height: auto;
    margin-top: 0;
  }

  header.service-page {
    margin-left: 5px;
    margin-top: 90px;
  }

  .contactus-section .container form input {
    margin: auto;
    width: 100% !important;
  }

  .contactus-section .container {
    width: 100%;
  }

  .contactus-section .container form textarea {
    margin: auto;
    width: 100%;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-links h2 {
    text-align: center;
    border-bottom: 3px solid var(--main-font-color);
    border-radius: 10%;
    width: 70px;
  }

  .contact-links .container a i {
    font-size: 40px;
  }

  .contact-links .container {
    justify-content: space-between;
  }

  .map-company .map-img p a {
    font-size: 30px;
  }
  header.about-page{
     height: 25vh;
     margin-top: 0;
  }
  header.about-page video{
     top: 0;

  }
  .who-us{
    padding: 0;
    height: auto;
  }
  .who-us .container > .column-1{
    flex-basis: unset;
  }
  .who-us .container > .column-2{
    flex-basis: unset;
  }
  .promo .container iframe{
    width: 100%;
    height: 250px;
  }
  .who-us .container > .column-2 img{
    height: 420px;
  }
  .who-us .container > .column-1 h2{
    font-size: 30px;
    margin: 20px 0;
  }
  .who-us .container > .column-1 p{
    font-size: 13px;
  }
  .who-us .container .column-1 .content .row-1 .content, .who-us .container .column-1 .content .row-2 .content{
    font-size: 13px;
  }
  .promo .container h1{
    font-size: 30px;
  }
  .promo{
    height: auto;
  }
  .promo .container p{
    font-size: 13px;
  }
  .partners{
    padding: 0;
  }
  .partners .container h1{
    font-size: 30px;
    margin-top: 30px;
  }
  .partners .container .thumbil{
    padding: 0
  }
}

@media only screen and ((min-width: 390px) and (max-width: 750px)) {
  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) .card {
    margin: 10px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) {
    padding-top: 30px;
  }

  .main .container .sign form .buttons button {
    width: 175px;
    height: 45px;
  }
}

@media only screen and ((min-width: 360px) and (max-width:390px)) {
  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) .card {
    margin: 10px;
  }

  .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) {
    padding-top: 30px;
  }

  .main .container .sign form .buttons button {
    width: 160px;
    height: 45px;
  }

  /* .our-services {
    height: 141vh !important;
  } */

  .our-services .container-services .cards-services {
    height: 600px;
  }
}

@media only screen and ((min-width: 0px) and (max-width:360px)) {
  .our-services {
    height: 141vh !important;
  }

  .our-services .container-services .cards-services {
    height: 600px;
  }

  .nav .logo img {
    width: 160px;
  }
}

@media only screen and((min-height:800px)) {
  .slide .column .row .slide-image {
    width: 368px !important;
    height: auto !important;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and ((min-height: 800px) and (min-width:370px)) {
  .main .container .sign form .buttons button {
    width: 175px;
    height: 45px;
  }
}