/*Mobile Design*/
@media only screen and (max-height: 737px) {
  .slider {
    height: 100vh !important;
  }
  .slide_buttons {
    bottom: 20px !important;
  }
  .slide_viewer {
    height: 100vh !important;
  }
  .directional_nav {
    bottom: 72px !important;
  }
}


@media only screen and (max-width: 737px) {
  .slide video {
    height: 100vh !important;
    width: auto;
  }
  .menu-open{
    display: flex;
    flex-direction: column;
  }
  .show-list {
    left: 34%;
  }
  .nav .logo{
    padding: 0;
  }
  .img-c {
    width: 50%;
    height: 33vh;
  }
  .our-services .container-services {
    flex-direction: column;
  }
  .our-services {
    height: 110vh !important;
  }
  .our-services .container-services .heading-services .service-picker {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
  }
  .our-services .container-services .heading-services .service-picker button {
    padding: 10px;
    font-size: 15px;
  }
  .viewer-services .show-service {
    padding: 5px;
    display: flex !important;
    flex-direction: row;
  }
  .viewer-services .service .container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .viewer-services .service .container p {
    font-size: 15px;
    color: #727272;
  }
  .viewer-services h3 {
    margin: 0;
    font-size: 22px;
  }
  .service img {
    width: 200px;
  }
  section.order {
    flex-direction: column;
  }
  section.people-opinion h2 {
    font-size: var(--font-size-heading-mobile);
    margin: 10px;
  }
  section.people-opinion .people .slide-opinion {
    padding: 50px;
    max-width: 350px;
  }
  .nav {
    height: 100px;
  }
  .nav .logo img {
    width: 200px;
  }
  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }
  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }
  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }
  .slide_viewer,
  .slide_group {
    height: 86vh;
  }
  .directional_nav {
    bottom: 44px;
  }
  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }
  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: column;
  }
  .menu .container .qouta {
    margin: 5px;
    min-width: 210px;
    margin-right: 5px;
    position: relative;
    top: -8px;
    background: linear-gradient(45deg, #e7b47f 15%, #c48f56 65%) !important;
    padding: 10px;
  }
  .menu .container .qouta a {
    font-size: 15px;
    padding: 0px 20px;
    color: rgb(240 240 240) !important;
    text-decoration: none;
  }
  .menu-close {
    margin: 23px 0px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .slide .column .row {
    margin-top: 40px;
  }
  .slide .column {
    flex-direction: column-reverse;
  }
  .slide .column:nth-child(1) {
    align-items: center;
  }
  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }
  .slide .column .row .title {
    font-size: 35px;
  }
  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
  }
  .slide .column .row .link {
    padding-left: 55px;
  }
  .slide .column .row .link a {
    font-size: 15px;
  }
  .our-services .container-services {
    margin: 0;
  }
  .our-services {
    padding: 0px;
  }
  .our-services .container-services .heading-services .title-services {
    font-size: 50px;
    width: 300px;
  }
  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }

  .content-services {
    padding: 12px !important;
    font-size: 16px !important;
  }
  footer .container-footer .column{
    flex-basis: 100%;
  }
  section.people-opinion .people .slide-opinion::before,section.people-opinion .people .slide-opinion::after{
    display: none;
  }
  section.order .column .card{
   width: 185px; 
  }
  section.order .column a{
    align-self: flex-start;
    width: 175px;
    text-align: center;
    padding: 10px 20px;
    font-size: var(--font-size-content-mobile);
  }
  .nav {
    height: 100px;
  }
  .nav .logo img {
    width: 200px;
  }
  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }
  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }
  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }
  .slide_viewer,
  .slide_group {
    height: 86vh;
  }
  .directional_nav {
    bottom: 44px;
  }
  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }
  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: block;
  }
  .menu-close {
    margin: 23px 20px;
    position: absolute;
    right: 0;
  }
  .slide .column .row {
    margin-top: 40px;
  }
  .slide .column {
    flex-direction: column-reverse;
  }
  .slide .column:nth-child(1) {
    align-items: center;
  }
  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }
  .slide .column .row .title {
    font-size: 35px;
  }
  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
  }
  .slide .column .row .link {
    padding-left: 55px;
  }
  .slide .column .row .link a {
    font-size: 15px;
  }
  .our-services .container-services {
    margin: 0;
  }
  .our-services {
    padding: 0px;
  }
  .our-services .container-services .heading-services .title-services {
    font-size: 50px;
    width: 300px;
  }
  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }

  .content-services {
    padding: 12px !important;
    font-size: 16px !important;
  }
  .nav {
    height: 100px;
  }
  .nav .logo img {
    width: 200px;
  }
  .social-media,
  .social-media a,
  .social-media .qouta,
  .nav .social-media a svg {
    display: none;
  }
  .slide .column .row {
    margin-top: 150px;
    margin-left: 10px;
    justify-content: flex-start;
  }
  .slide .column .row .title {
    margin: 0;
    align-self: flex-start;
    font-size: 50px;
  }
  .slide_viewer,
  .slide_group {
    height: 86vh;
  }
  .directional_nav {
    bottom: 44px;
  }
  .menu-open {
    display: block;
    position: absolute;
    right: 20px;
  }
  .show-menu {
    animation-name: menu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 998;
    display: flex;
    flex-direction: column;
  }
  .menu-close {
    margin: 23px 20px;
    position: relative;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .slide .column .row {
    margin-top: 40px;
  }
  .slide .column {
    flex-direction: column-reverse;
  }
  .slide .column:nth-child(1) {
    align-items: center;
  }
  .slide .column .row .slide-image {
    width: 250px;
    height: 250px;
  }
  .slide .column .row .title {
    font-size: var(--font-size-heading-mobile);
  }
  .slide .column .row .content {
    width: 300px;
    padding-right: 10px;
    font-size: var(--font-size-content-mobile);
  }
  .slide .column .row .link {
    padding-left: 55px;
  }
  .slide .column .row .link a {
    font-size: 15px;
  }
  .our-services .container-services {
    margin: 0;
  }
  .our-services {
    padding: 0px;
  }
  .our-services .container-services .heading-services .title-services {
    font-size: var(--font-size-heading-mobile);
    width: 300px;
  }
  .floating-container {
    bottom: 15px !important;
    right: 12px !important;
  }
  .our-services .container-services .heading-services {
    padding: 0 !important;
  }
  .content-services {
    padding: 12px !important;
    font-size: var(--font-size-content-mobile) !important;
  }
  section.some-works h2 {
    font-size: var(--font-size-heading-mobile);
  }
  footer .container-footer{
    flex-basis: 100%;
    padding: 25px;
  }
  section.order .column h2 {
    font-size: var(--font-size-heading-mobile);
  }
  section.order .column h3 {
    font-size: var(--font-size-content-mobile);
    margin: 0;
  }
}
@media only screen and ((min-width: 390px) and (max-width: 750px)) {

}
@media only screen and ((min-width: 360px) and (max-width:390px)) {
 
}
@media only screen and ((min-width: 0px) and (max-width:360px)) {
  

}
@media only screen and((min-height:800px)) {
  .slide .column .row .slide-image {
    width: 368px !important;
    height: auto !important;
  }
  .menu-open{
    display: flex;
    flex-direction: column;
  }
}