/*Laptop Design*/
:root {
  --main-font-color: #c48f56;
  --content-color: #6f6f6f;
  --font-size-heading-desktop: 70px;
  --font-size-content-desktop: 20px;
  --font-size-heading-mobile: 35px;
  --font-size-content-mobile: 14px;
  --card-size: 165px;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Fell";
  src: url("IMFellDWPica.ttf");
  font-weight: bold;
}

* {
  font-family: "Gilroy";
}

.load {
  height: 100vh;
  width: 100%;
  background: #f7f5e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load .logo {
  animation-name: loading;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-image: url(../svg/logo.svg);
  transition: all ease-in-out 1s;
}

.logo.zoom {
  animation-name: zoom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

html,
body {
  overflow-x: hidden;
  background: #f7f5e6;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Head Start */
.menu {
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 80%;
}

.hidden-scroll {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.menu-open,
.menu {
  display: none;
}

.slider {
  height: 100vh !important;
}

.nav-transparent {
  background-color: transparent !important;
}

.hide {
  display: none;
}

.body {
  transition: all ease-in-out 1s;
}

.body.hide {
  visibility: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.2s;
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  z-index: 999;
  background-color: transparent;
}

.menu .container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 10px;
}

.menu.close-menu-animation {
  animation-name: close-menu;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.menu .container a,
.menu .container div {
  color: var(--main-font-color);
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.nav.scrolled-up {
  display: flex;
  transition: all ease-in-out 0.3s;
  background-color: #f7f5e6f7;
  opacity: 1;
  transition: 0.1s;
}

.nav.scrolled-down {
  opacity: 0;
  transition: 0.1s;
  transition: all ease-in-out 0.3s;
}

.nav .logo {
  animation-name: logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-basis: 30%;
  padding: 16px;
}

.nav .social-media {
  flex-basis: 69%;
  display: flex;
  justify-content: end;
  align-items: end;

}

.nav .social-media .qouta {
  min-width: 240px;
  right: 45px;
  position: relative;
  top: 5px;
  margin-left: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #e7b47f 15%, #c48f56 65%) !important;
  padding: 10px;
}

.nav .social-media .qouta a {
  font-size: 18px;
  padding: 0px 20px;
  color: rgb(240 240 240);
  text-decoration: none;
  opacity: 0;
}

.nav .social-media .qouta a i {
  color: #f0f0f0;
  font-size: 18px;
  position: relative;
  left: -8px;
}

.nav .social-media .quick-link {
  color: #de974c;
  padding-top: 2px;
}

.nav .social-media .quick-link.c {
 margin: 0;
 padding: 0;
  width: 120px;
}

.nav .social-media .quick-link.s {
  min-width: 67px;
}

.nav .social-media a {
  animation-name: social;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  padding: 0px 20px;
  width: 30px;
  height: 30px;
  color: black;
  text-decoration: none;
  opacity: 0;
  box-sizing: unset;
}

.nav .social-media :nth-child(1) {
  animation-delay: 0.5s;
}

.nav .social-media :nth-child(2) {
  animation-delay: 0.4s;
}

.nav .social-media :nth-child(3) {
  animation-delay: 0.3s;
}

.nav .social-media :nth-child(4) {
  animation-delay: 0.2s;
}

.nav .social-media :nth-child(5) {
  animation-delay: 0.1s;
}

.nav .social-media a i {
  font-size: 25px;
  color: #bf913f;
  transition: all ease-in-out 0.5s;
  transform: scale(1);
}

.nav .social-media a:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.2);
}

.slide .column {
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-basis: 50%;
}

.slide .column .row {
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  flex-basis: 50%;
}

.slide .column .row .title {
  color: var(--main-font-color);
  text-transform: capitalize;
  margin: 5px;
  margin-left: 20%;
  animation-name: title;
  transition: all ease-in-out 1s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  font-size: 100px;
  opacity: 0;
}

.slide .column .row .content {
  opacity: 0;
  animation-name: contentHead;
  animation-delay: 1.7s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  margin: 20px auto 0px auto;
  width: 400px;
  color: #676767;
  font-size: 20px;
  font-family: "Gilroy";
}

.slide .column .row .link {
  animation-name: link;
  margin-top: 40px;
  align-self: center;
  position: relative;
  left: -125px;
  animation-delay: 2s;
  transition: all ease-in-out 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: 50px;
  opacity: 0;
  animation-delay: 0.5;
}

.slide .column .row .link a {
  width: 170px;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(45deg, #e7b47f 15%, #c48f56 65%) !important;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.slide .column .row .slide-image {
  animation-name: icon;
  animation-duration: 1s;
  animation-direction: alternate;
  filter: drop-shadow(2px 2px 7px rgb(35, 35, 35));
}

.slide .column .row .title.part1 {
  animation-delay: 0.3s;
}

.slide .column .row .title.part2 {
  animation-delay: 1s;
}

/* Head End */

/*== Main Start ==*/
/* Our Services Section Start */
.our-services {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0px 180px 0px;
  width: 100%;
  margin: 0;
  background-color: #eeeeee;

}

.our-services .container-services {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}

.our-services .container-services .heading-services {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.our-services .container-services .heading-services .title-services {
  font-size: var(--font-size-heading-desktop);
  color: var(--main-font-color);
}

.our-services .container-services .heading-services .content-services {
  font-size: var(--font-size-content-desktop);
  color: #727272;
  height: 100px;
  width: 100%;
}

.our-services .container-services .cards-services {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.our-services .container-services .cards-services .card-service {
  transform: translateY(0px);
  transition: all ease-in-out 0.5s;
}

.our-services .container-services .cards-services .card-service .container {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.our-services .container-services .cards-services .card-service:hover {
  transform: translateY(-5px);
  transition: all ease-in-out 0.5s;
}

.our-services .container-services .cards-services .card-service a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
    align-items: center;
}

.our-services .container-services .cards-services .card-service a .head-card {
  width: var(--card-size);
  position: relative;
  height: calc(var(--card-size) / 3 + var(--card-size));
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../icons/card.png");
}

.our-services .container-services .cards-services .card-service a .head-card img {
  position: relative;
  top: 18%;
  left: 11%;
  width: 145px;
}

.our-services .container-services .cards-services .card-service a .content-card {
  width: inherit;
  text-align: center;
}

.our-services .container-services .cards-services .card-service a .content-card .title {
  font-size: 30px;
  margin: 0;
  color: #000;
}

.our-services .container-services .cards-services .card-service a .content-card .subtitle {
  font-size: 20px;
  margin: 0;
  color: #727272;
}

/* Our Services Section END */

/* Some Works Section START */
section.some-works {
  background-color: #1c1c1c;
  position: relative;
  height: auto;
}

section.some-works.flexing {
  height: auto;
}

section.some-works h2 {

  position: absolute;
  top: -90px;
  left: 100px;
  color: var(--main-font-color);
  font-size: 70px;
  z-index: 9;
}

section.some-works * {
  transition: 0.2s;
}

.gallery {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.gallery a {
  overflow: hidden;
  width: 25%;
  height: 300px;
}

.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery a img:hover {
  transform: scale(1.4);
}

.clear {
  clear: both;
}

/* Some Works Section END */

/* Order Section START */
section.order {
  padding: 70px 0px;
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
}

section.order .column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

section.order .column h2 {
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 70px;
  color: var(--main-font-color);
}

section.order .column h3 {
  width: 80%;
  padding-left: 44px;
  color: #727272;
  font-size: 22px;
}

section.order .column a {
  background-color: var(--main-font-color);
  padding: 20px 30px 20px 25px;
  font-size: 25px;
  width: 190px;
  margin-left: 44px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

section.order .column:nth-child(1) {
  flex-basis: 35%;
  margin-top: 50px;
  margin-left: 50px;
}

section.order .column:nth-child(2) {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

section.order .column .card {
  cursor: pointer;
  border: 3px solid transparent;
  margin: 20px;
  border-radius: 7px;
  width: 190px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

section.order .column .card.selected {
  border: 3px solid #d99e5ee3;
  transition: all ease-in-out 0.1s;
}

section.order .column .card .title {
  font-size: 20px;
  margin: auto;
  text-align: center;
}

section.order .column .card img {
  align-self: center;
}

/* Order Section END */

/* People Opinion Section START */
section.people-opinion {
  height: 110vh;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
}

section.people-opinion h2 {
  font-size: 70px;
  color: var(--main-font-color);
  margin-left: 100px;
  margin-top: 75px;
}

section.people-opinion .people {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px;
}

section.people-opinion .people img {
  position: relative;
  top: -40px;
}

section.people-opinion .people .slide-opinion {
  position: absolute;
  z-index: 2;
  top: 100px;
  padding: 90px;
  max-width: 700px;
  border-radius: 20px;
  border: 6px solid #c48f56;
}

section.people-opinion .people .slide-opinion .commenter p {
  font-size: 20px;
  transform: scale(1.05);
  color: #000;
}

section.people-opinion .people .slide-opinion::after {
  content: '"';
  font-family: "Fell";
  font-size: 150px;
  position: absolute;
  padding: 42px 0px 0px 64px;
  background-color: #f6f6f6;
  height: 75px;
  bottom: -26px;
  right: -46px;
  color: var(--main-font-color);
}

section.people-opinion .people .slide-opinion::before {
  content: '"';
  transform: rotate(180deg);
  font-family: "Fell";
  font-size: 150px;
  position: absolute;
  top: -17px;
  left: -39px;
  color: var(--main-font-color);
  padding: 42px 0px 0px 64px;
  background-color: #f6f6f6;
  height: 75px;
}

.slide-opinion .container.popup {
  animation-name: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition: all ease-in-out 1s;
}

section.people-opinion .people .slide-opinion .commenter {
  position: relative;
}

section.people-opinion .people .slide-opinion .commenter img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  color: var(--main-font-color);
}

section.people-opinion .people .slide-opinion .container {
  line-height: 2;
  color: #00000087;
  max-width: 500px;
}

section.people-opinion .people .slide-opinion .container .box-element {
  font-size: 20px;
}

/* People Opinion Section END */

/* Footer START */
footer {
  overflow: hidden;
  background-color: black;
}

footer a {
  color: var(--content-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

footer .container-footer {
  padding: 50px 30px 50px 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .container-footer .column {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
}

footer .container-footer .column.company h2 {
  margin: 0;
  color: var(--main-font-color);
  font-size: 40px;
}

footer .container-footer .column.company p {
  padding: 8px;
  padding-top: 20px;
  color: var(--content-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

footer .container-footer .column.company .social-footer {
  display: flex;
  padding-left: 8px;
  width: 100px;
  justify-content: space-between;
}

footer .container-footer .column.company .social-footer a:hover {
  color: var(--main-font-color);
}

footer .container-footer .column.touch h3 {
  font-size: 30px;
  color: #eeeeee;
  margin-top: 40px;
}

footer .container-footer .column.touch .container {
  display: flex;
  flex-direction: column;
}

footer .container-footer .column.touch .container div p {
  color: var(--content-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

footer .container-footer .column.touch .container div {
  display: flex;
  align-items: center;
}

footer .container-footer .column.touch .container .icon {
  color: #fff;
  align-self: center;
  padding: 10px;
}

footer .container-footer>div>h3 {
  margin-top: 10px !important;
}

footer .container-footer .column.touch .container div p {
  margin: 0;
}

footer .container-footer .column.touch .container a {
  color: var(--main-font-color);
  margin-left: 12px;
  padding: 15px 0px 15px 15px;
  color: #000;
  width: 100px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

footer .container-footer .column.services h3 {
  font-size: 30px;
  color: #eeeeee;
  margin-top: 40px;
}

footer .container-footer .column.services .container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

footer .container-footer .column.services .container a {
  margin-top: 10px;
}

footer .container-footer .column.services .container a:hover {
  color: var(--main-font-color);
}

footer .container-footer .column.tags h3 {
  font-size: 30px;
  color: #eeeeee;
  margin-top: 40px;
}

footer .container-footer .column.tags .container {
  display: flex;
  flex-wrap: wrap;
}

footer .container-footer .column.tags .container a {
  background-color: transparent;
  border: 2px solid #7f7f7f;
  margin: 2px;
  color: var(--content-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
}

footer .container-footer .column.tags .container a:hover {
  color: var(--main-font-color);
  border-color: var(--main-font-color);
}

/* Footer START */

/* Services Page */
/* Head START */
header.service-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 150px);
  margin-top: 150px;
  margin-left: 60px;
}

header .column {
  display: flex;
  flex-direction: column;
}

header .column-1 {
  margin: 20px;
  margin-top: 70px;
  padding: 30px;
  flex-basis: 50%;
}

header .column-2 {
  margin: 50px;
  flex-basis: 50%;
}

header .column .container {
  display: flex;
  flex-direction: column;
}

header .column .container .title {
  margin: 30px 30px 30px 0px;
  color: var(--main-font-color);
  font-size: var(--font-size-heading-desktop);
  background: #C49A6C;
  background: linear-gradient(to left, #C49A6C 15%, #C47F35 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .column .container .content {
  color: var(--content-color);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

header .column .button {
  cursor: pointer;
  margin: 50px 50px 0px 0px;
}
.service-page.header .column-1{
  margin-top: 50px;
}
header .column .button a {
  border: 2px solid transparent;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 60px;
  border-radius: 30px;
  background-color: var(--main-font-color);
  transition: 0.3s;
}

header .column .button a:hover {
  transition: 0.3s;
  color: var(--main-font-color);
  background-color: transparent;
  border: 2px solid var(--main-font-color);
}

header .column img {
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease;
}

.section.service-page {
  display: flex;
  justify-content: center;
  background: rgb(189, 105, 11);
  background: linear-gradient(90deg,
      rgba(189, 105, 11, 1) 33%,
      rgba(197, 149, 96, 1) 100%);
  width: 100%;
  padding: 40px 0;
  height: 100vh;
}

.section.service-page .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 800px;
}

.section.service-page .container .title {
  text-align: center;
  font-family: "Montserrat" !important;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
}

.section.service-page .container .title-min {
  text-align: center;
  font-family: "Montserrat" !important;
  color: #fff;
  font-weight: 300;
  font-size: 50px;
}

.section.service-page .container .content {
  text-align: center;
  font-family: "Montserrat" !important;
  color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
}

.section.service-page .container .button {
  text-align: center;
  cursor: pointer;
}

.section.service-page .container .button a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 15px 60px;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.3s;
}

.our-works-title {
  background-color: #fff;
  padding: 30px;
  width: 100%;
}

.our-works-title h2 {
  text-align: center;
  font-size: 50px;
}

.our-works-title p {
  color: #838383;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

/*About-us Page*/
header.about-page,
header.contact-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 85vh;
}

header.about-page video,
header.contact-page video {
  position: relative;
  top: -170px;
  animation-name: zoom-backimg;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  width: 100%;
  min-height: 100%;
}

header.about-page .mask,
header.contact-page .mask {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

header.about-page .mask .container,
header.contact-page .mask .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header.about-page .mask .container h1,
header.contact-page .mask .container h1 {
  animation-name: title;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  font-size: 6rem;
  font-family: "Gilroy";
  background: #c48f56;
  background: linear-gradient(to right, #c48f56 50%, #cca46a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.who-us {
  width: 100%;
  height: 75vh;
  padding: 110px;
  padding-top: 57px;
  padding-left: 150px;
  background-color: #f5f5f5;
}

.who-us .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.who-us .container>.column-1 {
  margin: 30px;
  margin-top: 0;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.who-us .container>.column-2 {
  flex-basis: 60%;
}

.who-us .container>.column-2 img {
  height: 100%;
}

.who-us .container>.column-1 h2 {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Montserrat" !important;
}

.who-us .container>.column-1 p {
  color: #6f6f6f;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat" !important;
}

.who-us .container .column-1 .content .row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.who-us .container .column-1 .content .row-1 .title,
.who-us .container .column-1 .content .row-2 .title {
  font-size: 1.3rem;
  line-height: 3;
  font-weight: 700;
  text-indent: 40px;
  font-family: "Montserrat" !important;
}

.who-us .container .column-1 .content .row-1 .content,
.who-us .container .column-1 .content .row-2 .content {
  color: #6f6f6f;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat" !important;
  padding: 0px 5px 0px 40px;
}

.who-us .container .column-1 .content .row-2 {
  display: flex;
  align-items: center;
}

.who-us .container .column-1 .content .row-2 .column-1 {
  display: flex;
  flex-direction: column;
}

.who-us .container .column-1 .content .row-2 .column-2 {
  display: flex;
  flex-direction: column;
}

.who-us>div>.column-1>div>.row-1>.column-1 i,
.who-us>div>.column-1>div>.row-2>.column-1 i {
  color: var(--main-font-color);
  font-size: 35px;
}

.promo {
  height: 108vh;
  background-color: black;
}

.promo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.promo .container iframe {
  border: none;
  width: 60%;
  height: 576px;
}

.promo .container h1 {
  color: #f5f5f5;
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Montserrat" !important;
}

.promo .container p {
  color: #dbdbdb;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3;
  font-family: "Montserrat" !important;
}

.partners {
  background-color: #fff;
  padding: 50px;
}

.partners .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners .container h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Montserrat" !important;
}

.partners .container .thumbil {
  padding: 50px;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.partners .container .thumbil .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.partners .container .thumbil .card img {
  max-width: 400px;
  max-height: 120px;
}

.partners .container .thumbil .card p {
  font-size: 18px;
  font-family: "Montserrat" !important;
  font-weight: 600;
}

.contactus-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.contactus-section h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Montserrat" !important;
}

.contactus-section .container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.contactus-section .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactus-section .container form input {
  text-indent: 10px;
  outline: none;
  font-size: 15px;
  font-family: "Montserrat" !important;
  font-weight: 600;
  height: 40px;
  width: 350px;
}

.contactus-section .container form textarea {
  text-indent: 10px;
  outline: none;
  font-size: 15px;
  font-family: "Montserrat" !important;
  font-weight: 600;
}

.contactus-section .container form input[type="submit"] {
  background-color: #c48f56;
  color: #f5f5f5;
  border: none;
  width: 358px;
  cursor: pointer;
}

.contactus-section .container .photo img {
  height: 490px;
}

/*Qouta Page*/

body.qouta {
  overflow: hidden;
  background-color: #e0dfe7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.main {
  border-radius: 5px;
  width: 1100px;
  box-shadow: 3px 3px 3px rgb(47 47 47 / 10%);
}

.main>.container {
  width: 100%;
  height: 85vh;
  display: flex;
}

.main .container .sidebar {
  border-radius: 5px 0 0 5px;
  background: linear-gradient(135deg,
      hsla(31, 65%, 63%, 1) 0%,
      hsla(31, 48%, 55%, 1) 100%);
  display: flex;
  flex-direction: column;
  flex: 30%;
  height: 100%;
}

.main .container .sign {
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  flex: 70%;
  height: 100%;
}

.main .container .sidebar .row {
  height: 60%;
}

.main .container .sidebar .logo-side {
  padding-top: 20px;
  height: max-content;
  left: 35px;
  top: 10px;
  position: relative;
  height: max-content;
}

.main .container .sidebar .logo-side h3 {
  width: 112px;
  color: rgb(232, 232, 232);
}

.main .container .sidebar .container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.main .container .sidebar .container .progress {
  flex: 22%;
}

.main .container .sidebar .container .titles {
  flex: 50%;
}

.main .container .sidebar .logo-side img {
  width: 130px;
}

.main .container .sidebar .container .progress {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2px;
  left: 18px;
  align-items: center;
  justify-content: space-evenly;
}

.main .container .sidebar .container .icons {
  flex-basis: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main .container .sidebar .container .icons i {
  color: #fff;
  font-size: 20px;
}

.main .container .sidebar .container .titles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main .container .sidebar .container .titles p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Montserrat" !important;
  font-weight: 500;
  color: #fff;
}

.main .container .sidebar .container .progress .step {
  display: flex;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main .container .sidebar .container .progress .step:not(.last):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #fff;
  bottom: -29px;
  left: 10px;
}

.main .container .sidebar .container .progress .step .bi-circle-fill {
  font-size: 9px;
  color: #595959;
}

.main .container .sidebar .container .progress .step .bi-check2 {
  font-size: 17px;
  color: #c48f56;
  -webkit-text-stroke: 1px;
}

/* STEP 1 */
.main .container .sign form .viewer .step {
  display: none;
}

.main .container .sign form .viewer .step.active {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.main .container .sign form .viewer .step .row:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .container .sign form .viewer .step .row:nth-child(1) .icon i {
  font-size: 40px;
  color: #3c3c3c;
}

.main .container .sign form .viewer .step .row:nth-child(1) h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: #3c3c3c;
  font-family: "Montserrat" !important;
}

.main .container .sign form .viewer .step .row:nth-child(1) p {
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat" !important;
  color: #727272;
}

.main .container .sign form .viewer .step .row:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}

.main .container .sign form .viewer .step .row:nth-child(2) .column .field label {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat" !important;
  color: #595959;
  line-height: 2;
}

.main .container .sign form .viewer .step .row:nth-child(2) .column .field input {
  width: 250px;
  height: 30px;
  font-family: "Montserrat" !important;
  font-size: 16px;
  text-indent: 5px;
  border: 2px solid #dddddd;
}

.main .container .sign form .buttons {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  position: relative;
  top: 60px;
  margin: auto;
}

.main .container .sign form .buttons button {
  padding: 6px 32px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat" !important;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.215);
}

.main .container .sign form .buttons button.next {
  background-color: #c48f56;
  color: #fffff5;
}

.main .container .sign form .buttons button.back {
  background-color: #fff;
  color: #000;
}

.main .container .sign form .viewer {
  height: 500px;
  max-height: 500px;
}

.main .container .sign form .viewer .step .row .column {
  display: flex;
  height: 230px;
  justify-content: space-between;
  flex-direction: column;
}

.main .container .sign form .viewer .step .row .column .field {
  display: flex;
  flex-direction: column;
}

/* STEP 2 */
.main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  height: 251px;
}

.main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) .card {
  margin: 0px 28px;
}

/* .main .container .sign form .viewer .step:nth-child(2) .row:nth-child(1){
  height:130px
}  */
.main .container .sign form .viewer .step .row .card label img {
  height: 70px;
}

.main .container .sign form .viewer .step .row .card label [type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.main .container .sign form .viewer .step .row .card label .content {
  background-color: #f8f8f8;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.main .container .sign form .viewer .step .row .card label p {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat" !important;
}

.main .container .sign form .viewer .step .row .card label [type="checkbox"]+.content {
  cursor: pointer;
}

.main .container .sign form .viewer .step .row .card label [type="checkbox"]:checked+.content {
  outline: 2px solid #4484fd;
}

.main .container .sign form .viewer .step .row input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.main .container .sign form .viewer .step .row input[type="number"]::-webkit-inner-spin-button,
.main .container .sign form .viewer .step .row input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.main .container .sign form .viewer .step .row .number-input {
  border: 2px solid #ddd;
  border-radius: 7px;
  transform: scale(0.6);
  display: inline-flex;
}

.main .container .sign form .viewer .step .row .number-input,
.main .container .sign form .viewer .step .row .number-input * {
  box-sizing: border-box;
}

.main .container .sign form .viewer .step .row .number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.main .container .sign form .viewer .step .row .number-input button:before,
.main .container .sign form .viewer .step .row .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--main-font-color);
  transform: translate(-50%, -50%);
}

.main .container .sign form .viewer .step .row .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.main .container .sign form .viewer .step .row .number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 3rem;
  padding: 0.5rem;
  color: var(--main-font-color);
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 24px;
  height: 3rem;
  font-weight: 500;
  text-align: center;
}

.main .container .sign form .viewer .step:nth-child(2) .row .column .row .container input[type="checkbox"] {
  background-color: var(--main-font-color);
  border-color: var(--main-font-color);
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.main .container .sign form .viewer .step:nth-child(2) .row {
  display: flex;
}

.main .container .sign form .viewer .step:nth-child(2) .row:nth-child(2) {
  padding-left: 50px;
}

.main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) {
  padding-left: 98px;
}

.main .container .sign form .viewer .step:nth-child(2) .row:nth-child(3) .row {
  padding: 0;
}

.main .container .sign form .viewer .step .row .column .row {
  display: flex;
  flex-direction: row;
}

.main .container .sign form .viewer .step .row .column .row:nth-child(2) {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.main .container .sign form .viewer .step:nth-child(2) .row .column {
  justify-content: start;
  align-items: flex-start;
}

.main .container .sign form .viewer .step .row .column p {
  font-family: "Montserrat" !important;
  font-size: 13px;
  font-weight: 600;
  color: #727272;
}

.main .container .sign form .viewer .step .row .column textarea {
  font-family: "Montserrat" !important;
  font-size: 16px;
  text-indent: 5px;
  border: 2px solid #dddddd;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content p {
  font-size: 14px;
  color: #343434;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(3) .row {
  display: flex;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content {
  width: 180px;
  height: 180px;
  justify-content: center;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content .card:nth-child(2) {
  width: 200px;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(1) label .content img {
  height: 110px;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) .main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) {
  cursor: pointer;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content,
.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content {
  width: 160px;
  padding: 10px;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content .container p,
.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content .container p {
  font-size: 13px;
  color: #343434;
  font-weight: 600;
  margin: 0;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content .container,
.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content .container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content .container input,
.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content .container input {
  opacity: 1;
  position: relative;
  width: 16px;
  height: 16px;
}

.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(2) label .content>p,
.main .container .sign form .viewer .step:nth-child(3) .row .column .card:nth-child(3) label .content>p {
  font-size: 10px !important;
  margin: 0 !important;
}

.main .container .sign form .viewer .step:nth-child(4) .row:nth-child(n + 1) {
  justify-content: center;
  display: flex;
  align-items: center;
}

.main .container .sign form .viewer .step:nth-child(4) .row:nth-child(3) {
  justify-content: center;
  display: flex;
  align-items: center;
}

.main .container .sign form .viewer .step:nth-child(4) .row:nth-child(2) span {
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(4) .row:nth-child(3) p {
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(4) .row textarea {
  border: 2px solid #d8d8d8;
  font-weight: 500;
  font-family: "Montserrat" !important;
}

.main .container .sign form .viewer .step .row .card label [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.main .container .sign form .viewer .step .row .card label [type="radio"]+.content {
  cursor: pointer;
}

.main .container .sign form .viewer .step .row .card label [type="radio"]:checked+.content {
  outline: 2px solid #4484fd;
}

main .container .sign form .viewer .step:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(3) {
  display: flex;
  width: 36%;
  flex-wrap: wrap;
  margin: auto;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(2) p {
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(3) .card {
  margin: 5px 10px;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(3) .card label .content {
  height: 70px;
  width: 70px;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(3) .card label .content p {
  font-size: 22px;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(5) {
  display: flex;
  justify-content: center;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(5) textarea {
  font-family: "Montserrat" !important;
  font-size: 16px;
  text-indent: 5px;
  border: 2px solid #dddddd;
}

.main .container .sign form .viewer .step:nth-child(2) .row .column .row:nth-child(2) .container label {
  font-family: "Montserrat" !important;
  font-size: 12px;
  color: #595959;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(5) .row:nth-child(4) p {
  display: flex;
  justify-content: center;
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 600;
}

.main .container .sign form .viewer .step:nth-child(6) {
  align-items: center;
  height: 500px;
  justify-content: center;
}

.main .container .sign form .viewer .step>.row:nth-child(1) {
  animation-name: qouta;
  animation-duration: 1s;
}

.main .container .sign form .viewer .step>.row:not(:nth-child(1)) {
  opacity: 0;
}

.main .container .sign form .viewer .step>.row:not(:nth-child(1)) {
  animation-name: qouta-pop;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.contact-links {
  padding: 50px 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.contact-links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-links h2 {
  text-align: center;
  border-bottom: 3px solid var(--main-font-color);
  border-radius: 10%;
  width: 70px;
}

.contact-links .container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.contact-links .container a {
  text-decoration: none;
}

.contact-links .container a i {
  font-size: 80px;
  background: #e3a664;
  background: linear-gradient(to right, #e3a664 0%, #8a643c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map-company .map-img img {
  width: 100%;
}

.map-company {
  position: relative;
}

.map-company .map-img {
  position: relative;
}

.map-company .map-img p a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}

.map-company .map-img p {
  text-decoration: none;
  display: none;
  color: #fff;
  text-shadow: 0 0 5px #000;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.map-company:hover .map-img p {
  display: block;
}

.map-company:hover .map-img::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.605);
}

.body {
  position: relative;
}

.body .pop-up-success {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 100px #000;
  padding: 50px;
}

.body .pop-up-success.view {
  display: block;
}

.body .pop-up-success .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body .pop-up-success .container .icon i {
  font-size: 50px;
  color: #52c41a;
}

.body .pop-up-success .container h2 {
  color: #343434;
  margin: 5px;
}

.body .pop-up-success .container p {
  font-family: "Montserrat" !important;
  font-size: 15px;
  color: #7f7f7f;
  font-weight: 600;
}

.body .pop-up-success .container button {
  background-color: var(--main-font-color);
  font-family: "Montserrat" !important;
  font-size: 15px;
  font-weight: 600;
  color: #f0f0f0;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view {
  display: flex;
  justify-content: space-between;
  margin: 150px;
  margin-top: 270px;
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .text {
  flex: 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .title-1 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  font-size: calc(var(--font-size-heading-desktop) + 20px);
  margin: 0;
  padding: 0;
  width: 500px;
  background: #C49A6C;
  background: linear-gradient(to left, #C49A6C 15%, #C47F35 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .title-2 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  font-size: calc(var(--font-size-heading-desktop) + 20px);
  margin: 0;
  margin-top: -30px;
  padding: 0;
  background: #C49A6C;
  background: linear-gradient(to left, #C49A6C 15%, #C47F35 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .content {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.8s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding-left: 6px;
  padding-top: 20px;
  color: var(--content-color);
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view a {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  width: 200px;
  background-color: var(--main-font-color);
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-size: var(--font-size-content-desktop);
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .img {
  flex: 50%;
}

#carouselExampleControlsNoTouching .carousel-inner .carousel-item .text-view .img img {
  height: 700px;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: service;
  animation-duration: 1s;
  animation-timing-function: 1s;
  animation-delay: 0.4s;
  animation-direction: alternate;
  position: relative;
  top: -250px;
  left: 100px;
}

header.service-page .column img {
  width: 65% !important;
}


.order-user {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.order-user form {
  border-radius: 10px;
  box-shadow: 5px 5px 15px #00000082;
  padding: 20px 60px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.order-user form .choosen-services p{
  font-size: 0.8rem;
}
.order-user form > h1{
  margin: 5px;
  color: var(--main-font-color);
}
.order-user form > p{
  margin: 0;
}
.order-user form input[type="submit"]{
  background-color: var(--main-font-color);
  color: #fff;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

section.abu-dhabi{
  position: relative;
  height: auto;
}
section.abu-dhabi img{
  width: 100%;
}
section.abu-dhabi .cover{
  left: 0;
  top: 0;
  background-color: #0000007e;
  width: 100%;
  height: 100%;
  position: absolute;
}
section.abu-dhabi .cover .card{
  transform: translateX(-10%) translateY(-55%);
  top:55%;
  left: 10%;
  width: 330px;
  height: 440px;
  background-size: cover;
  background-image: url(../icons/card.png);
  position: absolute;
}
section.abu-dhabi .cover .card .title{
  position: relative;
  font-size: var(--font-size-heading-desktop);
  color: var(--main-font-color);
}
section.abu-dhabi .cover .card .title p{
  position: absolute;
  width: 400px;
  left: 30%;
  top: 70%;
  margin-top: 110px;
}